.contentsUl, .titleUl {
    list-style: none;
    margin-top: 10px !important;
}

.titleUl{
  font-size:1.3em;
  background-color: rgb(254, 255, 237);
  border-radius: 10px 10px 0px 0px;
color: rgb(0, 0, 0);
	   text-align: center;
padding: 15px !important;
margin: 0px -40px 10px -25px !important;
}

.contentsUl li, .titleUl li {
    display: inline-block;
    width: 140px;
}

.contentDiv{
    border: 2px solid rgb(204, 204, 204);
			    margin: 0px auto 50px;
						    padding: 0px 40px 10px 25px;
									     width: 1000px !important;
}
#logoDiv{
margin: 20px auto;
width: 1000px !important;
padding: 0px 40px 10px 0px;
}

.titleUI li{ text-align: center; }

.alignRight{text-align: right;}
.wid180{width: 180px !important;}
.alignCenter{ text-align: center;}
.wid150{width: 150px !important;}

@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
  CSS Settings For HTML Div ExactCenter
  ------------------------------------------------*/
#mainDiv {
width:350px;
margin:50px auto;
	   font-family:raleway
}
h2 {
	background-color:#FEFFED;
	text-align:center;
	border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
#loginDiv {
width:300px;
float:left;
	  border-radius:10px;
	  font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
		margin-top:70px
}
#loginForm{
	 padding-top: 20px;
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
		margin-top:8px;
		margin-bottom: 8px;
border:1px solid #ccc;
	   padding-left:5px;
	   font-size:16px;
	   font-family:raleway
}


#login_loginBtn, .btn{
width:100%;
	  background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
		font-size:20px;
cursor:pointer;
	   border-radius:5px;
	   margin-bottom:15px
}

.topDiv{
  text-align: right;
  	padding-right: 30px;
width: 1000px !important;
margin: 0px auto;
		padding-left: 50px;
		padding-bottom: 20px;
}
.topDiv a{
text-decoration: none;
font-size: 1.1em;
}
.btn{
 background-color: rgb(255, 188, 0);
border: medium none;
color: white;
	   text-align: center;
	   text-decoration: none;
display: inline-block;
		 font-size: 14px;
margin: 4px 2px;
cursor: pointer;
width: 90px !important;
}

.uploadDiv{
margin: 0px auto;
width: 1000px !important;
padding: 0px 40px 10px 0px;
}
